
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ------------- COLORS and VARIABLES

$blue: #33C9FF;
$yellow: #FFCC53;
$light-yellow: #ebcf90fb;
$green: #58FF90;
$red: #F02D2D;
$purple: #9448FF;
$light-gray: #F2F2F2;
$dark: #4F4C4C;
$white: #FFFFFF;

$radius: 50px;

.color-blue {
	background-color: $blue;
}
.color-yellow {
	background-color: $yellow;
}
.color-text-yellow {
	color: $yellow;
}
.color-green {
	background-color: $green;
}
.color-purple {
	background-color: $purple;
}
.color-red {
	background-color: $red;
}
.color-dark {
	background-color: $dark;
}
.color-text-dark {
	color: $dark;
}
.color-text-white {
	color: $white;
}


// ------------- END COLORS and VARIABLES



body {
	font-family: 'Open Sans', sans-serif;
	color: $dark;
	font-size: 14px;
	background-color: $light-gray;
}


.wrapper {
	max-width: 1230px;
	margin: auto;
	padding: 0 5%;
}

.wrapper-itemsHome {
	max-width: 1045px;
	margin: auto;
}

.HideOnMobile {
	display: block;
}

.ShowOnMobile {
	display: none;
}

a {
	text-decoration: none;
	color: $dark;
}

h1 {
	font-size: 38px;
	font-weight: 600;
}

h2 {
	font-size: 28px;
	font-weight: 600;
}

h3 {
	font-size: 24px;
	font-weight: 600;
}

p {
	font-size: 14px;
	font-weight: 600;
}

.flex {
	display: flex;
	// width: 100%;
}

.flex-btn {
	display: flex;
	justify-content: center;
	// width: 100%;
}

.margin {
	height: 165px;
}

.margin-desktop {
	height: 50px;
}

.margin-desktop-detail {
	height: 75px;
}

// Buttons
.btn-notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 45px;
	font-size: 14px;
	font-weight: 600;
	background-color: $white;
	color: $dark;
	border: none;
	margin: 15px 5px;
	border-radius: $radius;
	cursor: pointer;
	-webkit-box-shadow: 0px 2px 8px 0px #0000009c;
	-moz-box-shadow: 0px 2px 8px 0px #0000009c;
	box-shadow: 0px 2px 8px 0px #0000009c;
	outline: none;

}
.btn-next-back {
	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 15px 30px 15px 30px;
	width: 100px;
	height: 45px;
	font-size: 14px;
	font-weight: 600;
	background-color: $white;
	color: $dark;
	border: none;
	margin: 15px 5px;
	border-radius: $radius;
	cursor: pointer;
	-webkit-box-shadow: 0px 2px 8px 0px #0000009c;
	-moz-box-shadow: 0px 2px 8px 0px #0000009c;
	box-shadow: 0px 2px 8px 0px #0000009c;
	outline: none;
}
.btn-next-mobile {
	border-radius: 50%;
	z-index: 1;
	position: fixed;
	right: 20px;
	bottom: 50%;
	padding: 2%;
	background-color: $white;
	border: none;
	-webkit-box-shadow: 0px 2px 8px 0px #0000009c;
	-moz-box-shadow: 0px 2px 8px 0px #0000009c;
	box-shadow: 0px 2px 8px 0px #0000009c;

}
.btn-back-mobile {
	border-radius: 50%;
	z-index: 1;
	position: fixed;
	left: 20px;
	bottom: 50%;
	padding: 2%;
	background-color: $white;
	border: none;
	-webkit-box-shadow: 0px 2px 8px 0px #0000009c;
	-moz-box-shadow: 0px 2px 8px 0px #0000009c;
	box-shadow: 0px 2px 8px 0px #0000009c;

}

// ---------- Header

.header {
	z-index: 1;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: $white;
	height: 80px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	.container{
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header--title {
			display: flex;
			align-items: center;
			.header--title--logo {
				margin-right: 14px;
				img {
					width: 50px;
					cursor: pointer;
				}
			}
			.header--tittle--text {
				font-size: 38px;
				font-weight: 600;
				cursor: pointer;
			}
		}
		.credits {
			display: flex;
			align-items: center;
			p {
				font-size: 24px;
				font-weight: 600;
				margin-left: 50px;
				cursor: pointer;
			}
		}
	}
}
// ---------- End Header
// ---------- Header Mobile
.header-mobile {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $white;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
	.header-mobile--title {
		display: flex;
		align-items: center;
		margin: 5px 15px;
		img {
			width: 40px;
		}
	}
	.header-mobile--search {
		-webkit-box-shadow: 0px 2px 8px 0px #00000025;
		-moz-box-shadow: 0px 2px 8px 0px #00000025;
		box-shadow: 0px 2px 8px 0px #00000025;
		// padding: 0 5px;
		margin: 8px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: $radius;
		input {
			height: 30px;
			outline: none;
			width: 100%;
			margin-left: 15px;
			border: none;
			font-weight: 600;
		}
		img {
			margin-right: 15px;
		}
	}
	.header-mobile--curiosities {
		margin: 5px 15px 8px 15px;
		a {
			color: $light-gray
		}
		button {
			width: 100%;
			height: 30px;
			background-color: $red;
			color: $light-gray;
			border: none;
			border-radius: $radius;
			outline: none;
		}
	}
}

// ---------- End Mobile

// ---------- Floating Circle
.floating {
	border-radius: 50%;
	z-index: 1;
	position: fixed;
	right: 20px;
	bottom: 20px;
	button {
		width: 90px;
		height: 90px;
		outline: none;
		border: none;
		cursor: pointer;
	}
}
// ---------- End Floating Circle

// ----------  popUp-mobileMenu
.popUp-mobileMenu--BG {
	position: fixed;
	top: 0%;
	width: 100%;
	height: 100vh;
	animation: BGColorMenuMobile 0.4s forwards;
	z-index: 3;
}
.popUp-mobileMenu {
	animation: slideUp 0.4s forwards;
	// animation-delay: 0.5s;
	z-index: 4;
  position: fixed;
	left: 3%;
	top: 100%;
  background-color:$light-gray;
  text-align: center;
	width: 93%;
	height: 96%;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	padding-top: 15px;
	.popUp-mobileMenu--btnAlone {
		border-radius: $radius;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $light-gray;
		margin: auto;
		max-width: 90%;

	}
	.popUp-mobileMenu--grid {
		margin: auto;
		max-width: 90%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 10px;
		row-gap: 10px;
		padding-top: 10px;
		// a {
		// 	color: $light-gray;
		// }
		.popUp-mobileMenu--grid--item {
			border-radius: $radius;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $light-gray;
		}
	}
}
// ---------- End popUp-mobileMenu


// ---------- Filters

.filters {
	// animation: fadeIn ease 0.5s;
	margin: 55px 0;
	.container {
		.filters-grid {
			display: grid;
			grid-template-columns: [one] 1fr [two] 1fr [tree] 1fr [four] 1fr [five] 1fr [six] 1fr [seven] 1fr [eight] 1fr [nine] 1fr [ten];
			grid-template-rows: [rowOne] 64px [rowTwo] 42px [rowTree] 42px	;
			column-gap: 10px;
			row-gap: 10px;
			p{
				cursor: pointer;
			}
			.filters-search {
				grid-column-start: one;
				grid-column-end: six;
				grid-row-start: rowOne;
				grid-row-end: rowTwo;
				-webkit-box-shadow: 0px 2px 8px 0px #00000041;
				-moz-box-shadow: 0px 2px 8px 0px #00000041;
				box-shadow: 0px 2px 8px 0px #00000041;
				border-radius: $radius;
				display: flex;
				justify-content: space-between;
				background-color: $white;
				input {
					margin-left: 45px;
					width: 100%;
					font-weight: 600;
					border: none;
					outline: none;
					cursor: text;
				}
				img {
					margin-right: 45px;
				}
			}
			.filters-curiosities {
				grid-column-start: six;
				grid-column-end: eight;
				grid-row-start: rowOne;
				grid-row-end: rowTwo;
				font-size: 24px;
				font-weight: 600;
				color: $light-gray;
				background-color: $red;
				border-radius: $radius;
				display: flex;
				justify-content: center;
				align-items: center;
				p {
					display: flex;
					justify-content: center;
					padding: 20px 0;
				}
				a {
				color: $light-gray;
				}
			}
			.filters-all {
				grid-column-start: eight;
				grid-column-end: ten;
				grid-row-start: rowOne;
				grid-row-end: rowTwo;
				font-size: 24px;
				font-weight: 600;
				color: $light-gray;
				background-color: $dark;
				border-radius: $radius;
				display: flex;
				justify-content: center;
				align-items: center;
				p {

					padding: 20px 0;
				}
			}
			.filters-bug, .filters-grass, .filters-ground {
				background-color: $green;
				border-radius: $radius;
				p {
					display: flex;
					justify-content: center;
					padding: 15px 0;
					font-size: 14px;
					font-weight: 600;
					color: $light-gray;
				}
			}
			.filters-dark, .filters-normal, .filters-steel {
				background-color: $dark;
				border-radius: $radius;
				p {
					display: flex;
					justify-content: center;
					padding: 15px 0;
					font-size: 14px;
					font-weight: 600;
					color: $light-gray;
				}
			}
			.filters-dragon, .filters-water, .filters-flying, .filters-ice {
				background-color: $blue;
				border-radius: $radius;
				p {
					display: flex;
					justify-content: center;
					padding: 15px 0;
					font-size: 14px;
					font-weight: 600;
					color: $light-gray;
				}
			}
			.filters-electric, .filters-fire {
				background-color: $yellow;
				border-radius: $radius;
				p {
					display: flex;
					justify-content: center;
					padding: 15px 0;
					font-size: 14px;
					font-weight: 600;
					color: $light-gray;
				}
			}
			.filters-fairy, .filters-poison, .filters-ghost {
				background-color: $purple;
				border-radius: $radius;
				p {
					display: flex;
					justify-content: center;
					padding: 15px 0;
					font-size: 14px;
					font-weight: 600;
					color: $light-gray;
				}
			}
			.filters-fighting, .filters-psychic, .filters-rock {
				background-color: $red;
				border-radius: $radius;
				p {
					display: flex;
					justify-content: center;
					padding: 15px 0;
					font-size: 14px;
					font-weight: 600;
					color: $light-gray;
				}
			}
		}
	}
}
// ---------- End Filters

// ---------- Home
main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 10px;
	column-gap: 10px;
}
// ---------- End Home

// ---------- ItemHome

.ItemHome {
	position: relative;
	left: -5000px;
	animation: slideLeft 0.5s forwards;
	animation-delay: 0.5s;
	a {
		text-decoration: none;
		color: $dark;
	}
	.ItemHome--fakeBG {
		// height: 340px;
		// width: 253px;
		.ItemHome--realBG {
			margin-top: 86px;
			border-radius: $radius;
			text-align: center;
			-webkit-box-shadow: 0px 2px 8px 0px #00000041;
			-moz-box-shadow: 0px 2px 8px 0px #00000041;
			box-shadow: 0px 2px 8px 0px #00000041;
			height: auto;
			.ItemHome-realBG--img {
				img {
					position: relative;
					left: -5000px;
					animation: slideLeft 0.7s forwards;
					animation-delay: 0.5s;
					width: 126px;
					height: 135px;
					margin-top: -86px;
				}
			}
			h2 {
				margin: 15px 0;
				// font-size: 24px;
				// font-weight: 600;
			}
			h3 {
				margin: 8px 0 4px 0;
				// font-weight: 600;
			}
			p {
				text-transform: uppercase;
				margin-bottom: 15px;
			}
			.ItemHome-realBG--type {
				margin-top: 16px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin: auto;
				p {
					height: 35px;
					width: 35%;
					color: $light-gray;
					cursor: pointer;
					font-size: 14px;
          font-weight: 600;
				}
				.round01 {
					display: flex;
					justify-content: center;
					align-items: center;
					border-top-left-radius: $radius;
					border-bottom-left-radius: $radius;
				}
				.round02 {
					display: flex;
					justify-content: center;
					align-items: center;
					border-top-right-radius: $radius;
					border-bottom-right-radius: $radius;
				}
				.roundAlone {
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: $radius;
				}
			}
			.legendaryHome {
				display: none;
				padding-bottom: 10px;
				// width: 50%;
				display: flex;
				justify-content: center;
				margin-top: -8px;
				p {
					border-radius: $radius;
					height: 35px;
					width: 50%;
					color: $light-gray;
					cursor: pointer;
					justify-content: center;
					align-items: center;
				}
				// padding-bottom: 8px;
			}
		}
	}
}

// ---------- End ItemHome

// ---------- Detail
.detail {
	.detail-backBtn-desktop {
		padding-top: 25px;
		button {
			border: none;
			padding: 15px 20px;
			background-color: $white;
			color: $dark;
			border-radius: $radius;
			-webkit-box-shadow: 0px 2px 8px 0px #00000041;
			-moz-box-shadow: 0px 2px 8px 0px #00000041;
			box-shadow: 0px 2px 8px 0px #00000041;
			margin-bottom: 25px;
			cursor: pointer;
			outline: none;
		}
	}
	.detail-backBtn {
		display: none;
	}
	.cards {

		// animation: fadeIn ease 0.7s;
		position: relative;
		left: -5000px;
    animation: slideLeft 0.5s forwards;
		animation-delay: 0.5s;

		padding-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.card01 {
			width: 100%;
			padding: 5%;
			max-width: 700px;
			background-color: $white;
			-webkit-box-shadow: 0px 2px 8px 0px #00000025;
			-moz-box-shadow: 0px 2px 8px 0px #00000025;
			box-shadow: 0px 2px 8px 0px #00000025;
			border-radius: $radius;
			.card01--grid {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 50px;
				row-gap: 50px;
				.card01--grid01 {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					img {
						width: 80%;
						// position: relative;
						// top: -5000px;
						// animation: slideUp 0.4s forwards;
						// animation-delay: 0.4s;
					}
					.card01--grid01-title {
						display: flex;
						margin-top: 12px;
						h3 {
							margin-left: 10px;
						}
					}
				}
				.card01--grid02 {
					.card01--grid02-type {
						h2 {
							margin-bottom: 15px;
						}
						div, a {
							font-size: 16px;
							text-transform: uppercase;
							font-weight: 600;
							display: flex;
							justify-content: center;
							align-items: center;
							color: $light-gray;
							height: 35px;
							width: 100%;
							border-radius: $radius;
						}
						a:nth-of-type(2n) {
							margin-left: 15px;
						}
					}
					.legendary {
						font-size: 16px;
						text-transform: uppercase;
						font-weight: 600;
						display: flex;
						justify-content: center;
						align-items: center;
						color: $light-gray;
						height: 35px;
						width: 100%;
						border-radius: $radius;
						margin: 8px 0;
					}
					.card01--grid02-classification {
						h2 {
							margin: 15px 0;
						}
						div {
							font-size: 16px;
							text-transform: uppercase;
							font-weight: 600;
							display: flex;
							justify-content: center;
							align-items: center;
							color: $light-gray;
							height: 35px;
							width: 100%;
							border-radius: $radius;
						}
					}
					.card01--grid02-abilities {
						h2 {
							margin: 15px 0;
						}
						div {
							background-color: $light-gray;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: $radius;
							width: 100%;
							p {
								text-align: center;
								padding: 15px 10px;
							}
						}
					}
				}
			}
			.card01--outGrid-description {
				div {
					margin-top: 15px;
					background-color: $light-gray;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: $radius;
					p {
						text-align: center;
						padding: 15px 10px;
					}
				}
			}
		}
		.card02 {
			margin: 25px 0;
			padding: 5%;
			width: 100%;
			max-width: 700px;
			background-color: $white;
			// border: 1px solid $blue;
			-webkit-box-shadow: 0px 2px 8px 0px #00000025;
			-moz-box-shadow: 0px 2px 8px 0px #00000025;
			box-shadow: 0px 2px 8px 0px #00000025;
			border-radius: $radius;
			h2 {
				margin: 15px 0;
			}
			.card02--grid {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 50px;
				row-gap: 50px;
				.card02--grid01 {
					.card02--grid01-item {
						div {
							background-color: $light-gray;
							border-radius: $radius;
							margin: 10px 0;
							display: flex;
							justify-content: space-between;
							align-items: center;
							p{
								padding: 15px 12px;
							}
						}
					}
				}
				.card02--grid02 {
					.card02--grid02-item {
						div {
							background-color: $light-gray;
							border-radius: $radius;
							margin: 10px 0;
							display: flex;
							justify-content: space-between;
							align-items: center;
							p{
								padding: 15px 12px;
							}
						}
					}
				}
			}
		}
		.card03 {
			margin: 25px 0;
			padding: 5%;
			width: 100%;
			max-width: 700px;
			background-color: $white;
			-webkit-box-shadow: 0px 2px 8px 0px #00000025;
			-moz-box-shadow: 0px 2px 8px 0px #00000025;
			box-shadow: 0px 2px 8px 0px #00000025;
			border-radius: $radius;
			h2 {
				margin: 15px 0;
			}
			.card03--grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				column-gap: 10px;
				row-gap: 50px;
			}
		}
	}
}

// ---------- End Detail
// ---------- Curiosities
.curiosities {
	h1 {
		margin: 12px 0;
	}
	p {
		font-size: 20px;
		margin-bottom: 35px;
	}
	h2 {
		margin: 35px 0;
	}
}
// ---------- End Curiosities

// ---------- Evolutions


// ---------- End Evolutions



//  ---------- MEDIA

@media (max-width : 1080px) {
	// Home
	.wrapper-itemsHome {
    padding: 0 5%;
	}
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}


@media (max-width : 830px) {
	.detail {
		.wrapper {
			padding: 0px 10%;
		}
	}
}

@media (max-width : 680px) {

	.HideOnMobile {
		display: none;
	}

	.ShowOnMobile {
		display: block;
	}

	// ----- Header
	.detail .detail-backBtn {
		padding-top: 25px;
		display: block;
		img {
			width: 50px;
		}
	}

	// Card 01
	.detail .cards .card01 {
		margin-top: 50px;
	}
	.detail .cards .card01 .card01--grid {
		display: flex;
		flex-direction: column;
	}
	.detail .cards .card01 .card01--grid .card01--grid01 img {
		width: 150px;
		margin-top: -115px;
	}
	.detail .cards .card01 .card01--grid .card01--grid01 {
		margin-bottom: 20px;
	}
	// Card 02
	.detail .cards .card02 .card02--grid {
		display: block;
	}
		// Card 03
		.detail .cards .card03 .card03--grid {
			display: block;
		}

	// ----- End Header
}

@media (max-width : 630px) {
	// Home
	.wrapper-itemsHome {
    padding: 0 2%;
	}
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}



// ANIMATIONS

@keyframes fadeIn {
	0% {opacity:0}
	75% {opacity:0}
	100% {opacity:1}
	}

@keyframes slideLeft {
    100% { left: 0; }
}

@keyframes slideUp {
	100% { top: 40%; }
}

@keyframes BGColorMenuMobile {
	0% { background-color: #00000000; }
	50% { background-color: #0000005b; }
	100% { background-color: #000000b7; }
}

// Pulse Animation
.pulse {
	animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
	0% {
		// transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}

	70% {
		// transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		// transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

